<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <style>
        table, tr,td{
            border: 2px solid black;
        }
      .add{
        color: white;
        background-color: chocolate;
        border-radius: 0.5rem;
        margin-left: 38%;
      }
    </style>
</head>
<body>
    <form method="POST" action="/user/new">
        <button class="add">Add New User</button>
      </form>
      <br>
      <hr>
 <table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>username</th>
    </tr>
    <%for(user of users){ %>
        <tr style="background-color: rgb(159, 225, 214); color: #000;">
            <td> <%= user.id %></td>
            <td> <%=user.email%></td>
            <td><%=user.username %></td>
            <td>
            <form method="GET" action="/user/<%= user.id %>/edit"> 
                <button style="border-radius: 6px; background-color: darkgoldenrod;">Edit username</button>
            </form>
            </td>
            <td>
                <form method="get" action="/user/<%=user.id%>/delete">
                  <button style="border-radius: 6px;">Delete</button>
                </form>
              </td>
        </tr>
    <%} %>

 </table>
 
</body>
</html>

